<table class="table-bordered table-condensed">
  <thead>
  <tr>
    <th>日付</th>
    <th>変更前出社時間</th>
    <th>変更前退社時間</th>
    <th>変更後出社時間</th>
    <th>変更後退社時間</th>
    <th>承認者</th>
    <th>承認日</th>
  </tr>
  </thead>
  
  <tbody>
    <% @attendance_logs.each do |log| %>
      <tr>
        <!-- 日付 -->
        <td><%= log.worked_on %></td>
        <!-- 変更前出社時間 -->
        <td><%= log.started_at.to_s(:time) %></td>
        <!-- 変更前退社時間 -->
        <td><%= log.finished_at.to_s(:time) %></td>
        <!-- 変更後出社時間 -->
        <td><%= log.started_at.to_s(:time) %></td>
        <!-- 変更後退社時間 -->
        <td><%= log.finished_at.to_s(:time) %></td>
        <!-- 承認者 -->
        <td><%= log.order_status %></td>
        <!-- 承認日 -->
        <td><%= log.approval_day %></td>
      </tr>
    <% end %>
  </tbody>
</table>