<% provide(:title, '勤怠表示') %>

<div>
  <table class="table-bordered table-condensed">
    <tr>
      <td>
        <!-- 現在のユーザーかどうか -->
        <% if current_user?(@user) %>
          <!-- 前月の情報をパラメータとして送信している -->
          <%= link_to '←', user_path(params: {id: @user.id, first_day: @first_day.prev_month}), class: "btn btn-xs btn-primary" %>
          &emsp; <%= @first_day.to_s(:year_month) %> 時間管理表&emsp;
          <!-- 次月の情報をパラメータとして送信している -->
          <%= link_to '→', user_path(params: {id: @user.id, first_day: @first_day.next_month}), class: "btn btn-xs btn-primary" %>
        <% else %>
          時間管理表
        <% end %> <!-- if current_user? -->
      </td> <!-- usersヘルパーメソッド使用 -->
      <td>指定勤務時間 <%= format_basic_time(@user.work_time) %><br>
          指定勤務終了時間 <%= format_basic_time(@user.work_time_finish) %>
      </td>
      <td>基本時間 <%= format_basic_time(@user.basic_time) %></td>
      <td>初日 <%= @first_day.to_s(:date) %></td>
    </tr>
    
    <tr>
      <td>所属: <%= @user.department.present? ? @user.department : "未設定" %></td> <!-- departmentの値がnilなら未設定を表示 -->
      <td>氏名: <%= @user.name %></td>
      <td>出勤日数: <%= @worked_sum %>日</td>
      <td>締日 <%= @last_day.to_s(:date) %></td>
    </tr>
  </table>
    
    <!-- 現在のユーザーかどうか -->
    <% if current_user?(@user) %>
      <% if current_user.superior? %> <!-- 上長かどうか -->
        <%= render 'attendances/info_modal' %>
      <% end %>  <!-- current_user.superior -->
    
      <!-- 勤怠編集画面へ遷移 -->
      <%= link_to "勤怠を編集", edit_attendances_path(@user, @first_day), class: "btn btn-primary" %> <!-- :idと:dateにはパスの引数に指定している -->
      <!-- CSV出力　-->
      <%= link_to "CSV出力", csv_output_attendances_path(format: :csv), class: "btn btn-primary" %><br>
      <!-- 勤怠修正ログへ -->
      <%= link_to "勤怠修正ログ(承認済み)", attendance_log_user_path(@user), class: "btn btn-primary btn-log" %>
      
    <% else %>
      <!-- お知らせモーダルの確認時に使う -->
      <h3><span class="label label-success">確認: <%= "#{@user.name}/#{params[:first_day].to_date.year}年#{params[:first_day].to_date.month}月" %></span></h3>
      <span data-spy="affix">
	      <%= link_to "戻る", user_path(current_user.id),class: "btn btn-success" %>
      </span>
    <% end %>  <!-- if current_user? その1 -->
  
  
  <table class = "table-bordered table-striped table-condensed">
    <thead>
      <tr> <!--rowspan:縦結合、colspan：横結合-->
        <th rowspan="3" valign="bottom">残業申請</th>
        <th rowspan="3" valign="bottom">日付</th>
        <th rowspan="3" valign="bottom">曜日</th>
        <th colspan="8">【実績】</th>
        <th colspan="5">【所定外勤務】</th>
      </tr>
      
      <tr>
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2" valign="bottom">在社時間</th>
        <th rowspan="2" valign="bottom">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2" valign="bottom">時間外時間</th>
        <th rowspan="2" valign="bottom">業務処理内容</th>
        <th rowspan="2" valign="bottom">指示者確認㊞</th>
      </tr>
    
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>


  
    <tbody>
      <% @dates.each do |day| %> <!-- 初月から月末までの日付を繰り返し処理 -->
      
        <tr>
          <td>
            <% if current_user?(@user) %>
                <!-- モーダルウィンドウ残業申請 -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#overtime-modal"
                        data-date="<%= day.worked_on.to_s(:date) %>" 
                        data-hidden_date="<%= day.worked_on %>"
                        data-youbi="<%= @week[day.worked_on.wday] %>">
                  残業申請
                </button>
                <!-- モーダル内容 -->
                <%= render 'attendances/overtime_modal' %>
            <% end %>  <!-- if current_user? その4 -->
          </td>
          <!-- 日付 -->
          <td><%= day.worked_on.to_s(:date) %></td> <!-- 日付をフォーマットで○/○と表示 -->
          <!-- 曜日 -->
          <td>
            <% if @week[day.worked_on.wday] == "土" %>
              <div style="color:blue;"><%= @week[day.worked_on.wday] %></div> <!-- フォントカラーを青 -->
            <% elsif @week[day.worked_on.wday] == "日" %>
              <div style="color:red;"><%= @week[day.worked_on.wday] %></div>  <!-- フォントカラーを赤 -->
            <% else %>
              <%= @week[day.worked_on.wday] %>
            <% end %>
          </td> <!-- 日付からwdayメソッドで曜日を取得 -->
          <!-- 出社時間　時 -->
          <td><%= day.started_at.to_s(:hour) if day.started_at.present? %></td>
          <!-- 出社時間　分 -->
          <td><%= day.started_at.to_s(:min) if day.started_at.present? %></td>
          <!-- 出社ボタン -->
          <td>
            <!-- 現在のユーザーかどうか -->
            <% if current_user?(@user) %>
              <% if day.worked_on == Date.today && day.started_at.nil? %> <!-- 当日に該当する日付の行、なおかつstarted_atがnilの場合のみ -->
                <%= button_to "出社", user_attendances_path(@user), class: "btn btn-primary" %> <!-- button_toではデフォルトのHTTPメソッドが:postになる -->
              <% end %>
            <% end %> <!-- if current_user? その2 -->
          </td>
          <!-- 退社時間　時 -->
          <td><%= day.finished_at.to_s(:hour) if day.finished_at.present? %></td>
          <!-- 退社時間　分 -->
          <td><%= day.finished_at.to_s(:min) if day.finished_at.present? %></td>
          <!-- 退社ボタン -->
          <td>
            <!-- 現在のユーザーかどうか -->
            <% if current_user?(@user) %>
              <% if day.worked_on == Date.today && day.started_at.present? && day.finished_at.nil? %> <!-- 当月に該当する日付の行、なおかつstarted_atが存在し、finished_atがnilの場合のみ -->
                <%= button_to "退社", user_attendances_path(@user), class: "btn btn-primary" %>
              <% end %>
            <% end %> <!-- if current_user? その3 -->
          </td>
          <!-- 在社時間 -->
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= working_time(day.started_at, day.finished_at) %>
              <!-- 在社時間の合計を計算するための伏線 -->
              <!-- 退勤時間から出勤時間を引いた結果を返す(秒数として返ってくる) -->
              <% seconds = (day.finished_at - day.started_at).to_i %>
              <!-- 1日ごとに計算された在社時間の秒数を足し続けている。正常に計算できるようにto_iメソッドを使っている -->
              <% @total_working_time = @total_working_time.to_i + seconds %>
            <% end %>
          </td>
          <!-- 備考 -->
          <td><%= day.note if day.note.present? %></td>
          <!-- 終了予定時間(時) -->
          <td><%= day.endplans_time.to_s(:hour) if day.endplans_time.present? %></td>
          <!-- 終了予定時間(分) -->
          <td><%= day.endplans_time.to_s(:min) if day.endplans_time.present? %></td>
          <!-- 時間外時間 -->
          <td><%= off_hours_time(@user.id, day) if day.endplans_time.present? %></td>
          <!-- 業務内容 -->
          <td><%= day.business_contents if day.business_contents.present? %></td>
          <!-- 指示者確認㊞ -->
          <td>
            <%= overtime_display(day) %><br>
          　<%= attendance_display(day) %> <!-- attendanceヘルパーメソッド -->
          </td>
        </tr>
        
      <% end %> <!-- dates.each -->
    </tbody>
    
    <tfoot>
      <tr>
        <td></td>
        <!--「 総合勤務時間 = 基本時間 * 出勤日数」 又、to_fメソッドは、文字列を浮動小数点数の表現とみなしてFloatオブジェクトに変換する-->
        <!-- to_fメソッドを使用する理由は、format_basic_timeメソッドで返って来る値がStringクラスのため -->
        <td colspan="2">総合勤務時間: <%= format_basic_time(@user.basic_time).to_f * @worked_sum %></td>
        <td colspan="6"></td>
        <!-- 「在社時間合計 = 在社時間の合計秒数を割ってフォーマットで表示させる」attendanceヘルパーメソッド使用-->
        <td>在社時間合計: <%= working_time_sum(@total_working_time) unless @total_working_time.nil? %></td> <!-- unless文でまだ存在しない場合にエラーが発生しないように予防 -->
        <td colspan="5">
        <!-- １ヶ月分の勤怠申請 -->
        <td>
          所属長承認&emsp;<%= current_month_status(@first_day) %><br> <!-- attendanceヘルパーメソッド -->
          <!-- 現在のユーザーかどうか -->
          <% if current_user?(@user) %>
            <%= form_for @attendance, url: update_month_attendance_path(first_day: @first_day), method: :patch do |f| %>
              <%= f.collection_select :month_order_id, User.superior_user_list_non_self(session), :name, :name, :include_blank => true %>
              <%= f.submit "申請", class: "btn btn-primary" %>
            <% end %>
          <% end %>　<!-- if current_user? その4 -->
        </td>
      </tr>
    </tfoot>
  </table>
</div>