<% provide(:title, "拠点一覧") %>
<h1>拠点一覧</h1>

<div>
  <table class = "table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <td></td>
        <td></td>
        <td>拠点番号</td>
        <td>拠点名</td>
        <td>勤怠種類</td>
      </tr>
    </thead>
    
    <tbody class="base-index">
      <% @bases.each do |base| %>
        <tr>
          <!-- 修正ボタン。remoteでモーデル準備。editアクション。-->
          <td align="left">
            <!-- data-targetでbase.idを送ることでid指定ができる -->
            <a type="button" data-toggle="modal", data-target="#<%= base.id %>" class="btn btn-primary" style="width:40%;">修正</a>
            <!-- モーダル内容 -->
            <%= render partial: 'base_edit_modal', locals: {base: base} %>
          </td>
          <!-- 削除ボタン。deleteはメソッドを明示する必要がある。destroyアクション。-->
          <td align="center">
            <%= link_to "削除", basis_path(base), method: :delete, data: {confirm: "削除してよろしいですか？"}, class: "btn btn-primary" %>
          </td>
          <!-- 拠点番号 -->
          <td><%= base.base_number %></td>
          <!-- 拠点名 -->
          <td><%= base.base_name %></td>
          <!-- 勤怠種類 -->
          <td><%= base.base_info %></td>
        </tr>
      <% end %>
    </tbody>
      
    <tfoot>
      <tr>
        <!-- 拠点情報追加ボタン。newアクション。-->
        <td colspan="5" align="left">
          <a type="button" data-toggle="modal", data-target="#base-create-modal" class="btn btn-primary">
            拠点情報の追加
          </a>
          <!-- モーダル内容 -->
          <%= render 'base_create_modal' %>
          <!-- モーダル内容 -->
          <!--<div id="base-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>-->
        </td>
      </tr>
    </tfoot>
  </table>
</div>