<!-- １ヶ月分の勤怠申請のお知らせモーダル関連 -->
<% if Attendance.find_by(month_order_id: current_user.name) %>
  <!-- data-toggle="modal", data-target="#month-info-modal"はモーダルのトリガー -->
  <a data-toggle="modal", data-target="#month-info-modal", class="font-red">
    <%= "【所属長承認のお知らせ】#{@month_application_count}件の通知があります。" %>
  </a><br>
  <!-- モーダル内容 -->
  <%= render 'attendances/month_info_modal' %>
<% else %>
  <div>【所属長承認のお知らせ】<br></div>
<% end %>

<!-- 勤怠変更のお知らせモーダル関連 -->
<% if Attendance.find_by(attendance_order_id: current_user.name) %>
  <!-- data-toggle="modal", data-target="#attendance-info-modal"はモーダルのトリガー -->
  <a data-toggle="modal", data-target="#attendance-info-modal", class="font-red">
    <%= "【勤怠変更申請のお知らせ】#{@attendance_application_count}件の通知があります。" %>
  </a><br>
  <!-- モーダル内容 -->
  <%= render 'attendances/attendance_info_modal' %>
<% else %>
  <div>【勤怠変更申請のお知らせ】<br></div>
<% end %>

<!-- 残業申請のお知らせモーダル関連 -->
<% if Attendance.find_by(over_order_id: current_user.name) %>
  <!-- data-toggle="modal", data-target="#overtime-info-modal"はモーダルのトリガー -->
  <a data-toggle="modal", data-target="#overtime-info-modal", class="font-red">
    <%= "【残業申請のお知らせ】#{@overtime_application_count}件の通知があります。" %>
  </a><br>
  <!-- モーダル内容 -->
  <%= render 'attendances/overtime_info_modal' %>
<% else %>
  <div>【残業申請のお知らせ】<br></div>
<% end %>
  