<header class="navbar navbar-fixed-top navbar-inverse">  <!--headerタグ 3つのクラスはBootStrapによって意味が与えられる -->
  <div class="container">  <!-- divタグ これもBootStrapによって意味が与えられる -->
  
    <% if !logged_in? %> <!-- 否定演算子なのでログインしていない場合true -->
      <%= link_to "勤怠システム", root_path, id: "logo" %>  <!-- classはページ内でなんども使えるが、idは一度しか使えない -->
    <% elsif current_user.admin? %>                                                  <!-- id:"logo"はオプションとなり、今回の場合はCSS idでlogoと指定している -->
      <%= link_to "勤怠システム", root_path, id: "logo" %>
      <div id="logo" style="color:red;">admin</div>
    <% elsif current_user.superior? %>
      <%= link_to "勤怠システム", current_user, id: "logo" %>
      <div id="logo" style="color:blue;">superior</div>
    <% else %>
      <%= link_to "勤怠システム", current_user, id: "logo" %>
      <div id="logo" style="color:green;">user</div>    
    <% end %>
    
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if !logged_in? %>
            <%= link_to "トップへ", root_path %>
          <% elsif current_user.admin? %>
            <%= link_to "トップへ", root_path %>
          <% else %>
            <%= link_to "トップへ", current_user %>
          <% end %>
        </li>
        <% if logged_in? %>  <!--sessionsヘルパーメソッド-->
          <% if current_user.admin? %> <!--adminかどうか-->
            <li><%= link_to "ユーザ一覧", users_path %></li>
            <li><%= link_to "出勤社員一覧", attendance_list_attendances_path %></li>
            <li><%= link_to "拠点情報の修正", bases_path %></li>
            <li><%= link_to "基本情報の更新", "#" %></li>
          <% end %>
          <li class="dropdown">  <!-- Bootstrapクラスでレイアウト変更。有効化するため、JavaScriptとjQeryを読み込む指定をする(application.js)-->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "アカウント情報の更新", edit_user_path(current_user) %></li>  <!-- 現在のユーザー情報が取得できるようcurrent_userを引数で渡している -->
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>