<!DOCTYPE html>  <!-- 使用するHTMLのバージョンをブラウザに対して宣言している -->
<html>
  <head>
    <!-- full_title(カスタムヘルパー) -->
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= render 'layouts/shim' %>  <!-- HTML shimがこの１行で済む -->
  </head>

  <body>
    <%= render 'layouts/header' %>  <!--headerがこの１行で済む -->
    <div class="container">
      <%= yield %>  <!-- 各viewの内容がここに挿入される -->
    </div>
  </body>
</html>
