<!DOCTYPE html>  <!-- 使用するHTMLのバージョンをブラウザに対して宣言している -->
<html>
  <head>
    <!-- full_title(カスタムヘルパー) -->
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>  <!-- 各viewの内容がここに挿入される -->
  </body>
</html>
